@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html,

body {
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    min-height: 100vh;
    margin: auto;
    display: flex;
    font-family: Outfit;
    padding: 50px;
}

main {
    box-sizing: content-box;
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    border-radius: 9px;
    padding: 15px;
}

.qr-img {
    max-width: 100%;
    border-radius: 9px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
p {
    font-weight: 400px;
    font-size: 1.0em;
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}